.info {
  margin-left: 10px;
  font-size: x-large;
  color: wheat;
  font-weight: bold;
  /* background-color: white; */
  /* padding: 0px; */
  /* text-align: center; */
  /* vertical-align: bottom; */

}

.latest {
  margin-left: 10px;
  font-size: large;
  color: wheat;
  font-weight: bold;
  /* background-color: white; */
  /* padding: 0px; */
  /* text-align: center; */
  /* vertical-align: bottom; */

}

.profit {
  color: red;
}

.loss {
  color: green;
}